.html {
    background-color:#E34F26 ;
}
.css {
    background-color:#2965F1 ;
}
.js {
    background-color:#f7c900 ;
}
.java {
    background-color:#007396 ;
}
.ruby {
    background-color:#CC342D ;
}
.rails {
    background-color:#CC0000 ;
}
.spring {
    background-color:#6DB33F ;
}
.bootstrap {
    background-color:#6C5B7B ;
}